* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ul, nav {
	list-style: none;
}
.header {
  width: 1920px;
  padding: 20px 390px 15px 392px;
  display: flex;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1140px;
  max-height: 90px;
} 

.menu-logo {
  display: flex;
  align-items: center;
  color: #464646;
  font-family: 'Roboto';
  font-weight: 400;
  justify-content: space-between;
}

.name {
  color: #464646;
  font-weight: 400;
  margin-left: -35px;
}

.description_small{
  color: #7ad66c;
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  margin-left: -35px;
}

.menu-list {
    display: flex;
    align-items: center;
}
.menu-list a {
  color: #464646;
  font-size: 11px;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 30px;
  }

.menu-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}
.menu-phone p{
  color: #464646;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  margin-left: -35px;

}

.menu-phone span{
  font-size: 21px;
  font-weight: 500;
  margin-top: -15px;
}
.menu-button {
    font-size: 14px;
    background-color: #7ad66c;
    border-radius: 45px;
    padding: 13px 22px;
    color: #2b2a2c;
    cursor: pointer;
    transition: .5s;
    margin-left: 25px;
  }
  .menu-button:hover {
    color: #fff;
    background: #56acef;
}
   
.title {
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  padding: 106px 282px 30px;
  text-align: center;
  
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuresitem {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.91px;
  margin-left: 15px;
  margin-right: 15px;
}

.formtitle {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 63px;
  text-align: center;
}
.heroform {
  display: flex;
  justify-content: center;
  margin-top: 28px;

}

.field-block .field {
	padding: 8px 25px;
	border: 1px solid rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-right: 5px;
  color: #606060;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  border-radius: 40px;
}

.hero-button {
  font-size: 14px;
  border-radius: 45px;
  padding: 13px 32px;
  background-color: #7ad66c;
  cursor: pointer;
  margin: 25px 620px 50px;
  text-align: center;
  color: #ffffff;
}
.work1 h2{
  color: #464646;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  margin: 70px auto 35px;
}
.work1menu {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 36px auto 30px;
}

.workitem {
  margin-right: 30px;
}
.workitem h4{
  text-align: center;
  color: #464646;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 20px;
}
.workbutton{
  font-size: 14px;
  border-radius: 45px;
  padding: 8px 22px;
  background-color: #7ad66c;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.04px;
}

.problems {
  background-color: #f5f6f7;
}
.problemitems {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f5f6f7;
}

.problemstitle {
  color: #464646;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  padding-top: 50px; 
}

.problemitem p {
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin-right: 55px;
  padding-left: 105px;
  margin-bottom: 60px;
}

.problemitem h5 {
  color: #7ad66c;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 105px;
  padding-top: 55px;
}

.problemlogo {
  padding-top: 50px;
  position: absolute;
  margin-left: 50px;
}

.help__container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 65px auto;
}

.help__item {
  max-width: 262px;
}

.help__title {
  color: #7ad66c;
  font-family: 'Roboto Condensed';
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  margin-right: 80px;
  padding-top: 45px;
}

.help__item span {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

.help__item p {
  color: #464646;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  margin-right: 30px;
  margin-top: 15px;
}

.order {
  background-color: #464646;
  opacity: 0.8;
}

.order__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 40px;
}

.field-block .field {
	padding: 8px 25px;
	border: 1px solid rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-right: 5px;
  color: #606060;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  border-radius: 40px;
}

.hero-button {
  font-size: 14px;
  border-radius: 45px;
  padding: 13px 32px;
  background-color: #7ad66c;
  cursor: pointer;
  margin: 25px 620px 70px;
  text-align: center;
  color: #ffffff;
}


.contacts__title {
  color: #464646;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  margin: 80px auto 40px;
  text-align: center;
}

.contacts__container {
  display: flex;
  justify-content: center;
}

.contacts__home {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  margin-left: 45px;
  align-items: center;
  margin-top: 30px;
}

.contacts__home a,p {
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1140px;
  max-height: 140px;
  background-color: #f2f2f2;
} 

.footer__list a {
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 45px;
}

.footer__description small {
  color: #7ad66c;
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  margin-left: 20px;
}

.footer__description span {
  margin-left: 20px;
}
